@inherits LayoutComponentBase
@namespace ElorMaui.Components.Layout

<!--Este archivo es para que en el componente del login se abra sin que se vea el navmenu-->
<div class="page">
    <main>
        @Body
    </main>
</div>
