@if(recetas){
<table class="table table-striped">
    <thead >
        <tr class="table-info">
            <th>ID</th>
            <th>Nombre</th>
            <th>Visualizaciones</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @for (receta of recetas; track receta.id) {
        <tr (click)="irReceta(receta.id)" style="cursor: pointer">
            <td>{{ receta.id }}</td>
            <td><b>{{receta.nombre}}</b></td>
            <!-- Cargar del servicio el contador actual de visualizaciones-->
            <td>{{this.visualizacionesService.visualizacionesPorReceta(receta.id)}}</td>
            <td><img src="{{receta.imagenUrl}}" alt="Imagen de {{receta.nombre}}"></td>
        </tr>
        }
    </tbody>

</table>
} @else {
<p>Esperando datos...</p>
}