/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0;
}

.header {
    display: flex;
    padding: 15px;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

:root {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
}

button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
}

.autor {
    background-color: #605DC8;
    color: white;
    padding: 15px;
}
