<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyectos01</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Rifa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Color
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rgb">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> RGB
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="micontador">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mi contador
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bmi">
                <span class="bi bi-calculator-nav-menu" aria-hidden="true"></span> BMI
            </NavLink>
        </div>
    </nav>
</div>
